<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img id="navbarLogo" src="https://freshdesk.com/static-assets/images/common/company/logos/logo-fworks-black.svg"
        alt="..." height="36">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <button [routerLink]="['/login']" id="logIn">GO TO ACCOUNT</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div id="first">
  <div class="grid-containerFirst">
    <div class="grid-itemFirst">
      <span id="span1">Delight your customers with effortless customer service</span>
      <br>
      <span id="span2">Engage in more meaningful conversations every day, across every channel, with every
        customer.</span>
      <br>
      <button [routerLink]="['/sign']" id="trial">START FREE TRIAL</button>
    </div>
    <div class="grid-item">
      <img id="firstImage" alt="Hero Banner" title=""
        src="https://website-assets-fd.freshworks.com/attachments/cl9cqbwjf009k0kfnqpx51uyy-freshdesk-new-hero-banner-image.one-half.png">
    </div>
  </div>
</div>
<div id="second">
  <h1 id="secondh1">
    Explore why Freshdesk Omnichannel Suite is the most complete support solution with the fastest time-to-value.
  </h1>
  <h3 id="secondh3">
    Reimagine more meaningful conversations and turn service agents into customer champions. Launch customer and
    employee delight in under 3 months!
  </h3>
  <div class="grid-container">
    <div class="grid-item">
      <p class="secondp">
        Delight customers effortlessly
      </p>
      <p class="secondspan">
        Simplify every experience and put customers back in control by offering the support they expect, in their
        channel
        of choice.
      </p>
    </div>
    <div class="grid-item">
      <p class="secondp">
        Make every agent a customer champion
      </p>
      <p class="secondspan">
        Give agents more context and automation to proactively understand customer needs and offer the next-best-action.
      </p>
    </div>
    <div class="grid-item">
      <p class="secondp">
        Skyrocket the speed of service
      </p>
      <p class="secondspan">
        Achieve speed in delivering remarkable customer service. Our customers realize service productivity gains in
        under
        3 months, and innovate faster with the NEO platform.
      </p>
    </div>
  </div>
</div>
<div id="third">
  <div>
    <h2>Trusted by 50,000+ businesses</h2>
    <div class="brandLogo">
      <img alt="Big Bus Logo" title=""
        src="https://website-assets-fd.freshworks.com/attachments/cktd0j0xm027kmcg01bpk2dcy-big-bus.one-half.webp"
        srcset="https://website-assets-fd.freshworks.com/attachments/cktd0j0xm027kmcg01bpk2dcy-big-bus.full.webp 2x">
      <img alt="Pearson Logo" title=""
        src="https://website-assets-fd.freshworks.com/attachments/cktd0kakj022kc2fzagqsqddm-pearson.one-half.webp"
        srcset="https://website-assets-fd.freshworks.com/attachments/cktd0kakj022kc2fzagqsqddm-pearson.full.webp 2x">
      <img alt="Decathlon Logo" title=""
        src="https://website-assets-fd.freshworks.com/attachments/cktd0ku1l022lc2fzatldwfhq-decathalon.one-half.webp"
        srcset="https://website-assets-fd.freshworks.com/attachments/cktd0ku1l022lc2fzatldwfhq-decathalon.full.webp 2x">
      <img alt="Bridgestone Logo" title=""
        src="https://website-assets-fd.freshworks.com/attachments/cktd0lfh5022zc2fzpew7hzmz-bridgestone.one-half.webp"
        srcset="https://website-assets-fd.freshworks.com/attachments/cktd0lfh5022zc2fzpew7hzmz-bridgestone.full.webp 2x">
      <img alt="Aramex Logo" title=""
        src="https://website-assets-fd.freshworks.com/attachments/cktd0lyr9021mb8fza9gtiyfk-aramex.one-half.webp"
        srcset="https://website-assets-fd.freshworks.com/attachments/cktd0lyr9021mb8fza9gtiyfk-aramex.full.webp 2x">
      <img alt="Orderin Logo" title=""
        src="https://website-assets-fd.freshworks.com/attachments/cktd0n7k60226b8fzenu5nuqp-orderin.one-half.webp"
        srcset="https://website-assets-fd.freshworks.com/attachments/cktd0n7k60226b8fzenu5nuqp-orderin.full.webp 2x">
    </div>
    <div id="hamleyContainer">
      <div>
        <div>
          <img alt="Hamley's Logo" title=""
            src="https://website-assets-fd.freshworks.com/attachments/cjyfilmug001wklg020q6mcp3-hamley.one-half.png"
            srcset="https://website-assets-fd.freshworks.com/attachments/cjyfilmug001wklg020q6mcp3-hamley.full.png 2x">
        </div>
      </div>
      <p>“We began looking for a new tool in autumn and were keen to get one in place and
        optimised ahead of the Christmas peak period. Freshdesk ensured that the implementation process was as smooth as
        possible, and the team were up and running within 48 hours.”</p>
      <div>
        <img alt="vaughan potter 2x" title=""
          src="https://website-assets-fd.freshworks.com/attachments/cjia1br1s000we4fz7u6nxe37-vaughan-potter-2x.one-half.png"
          srcset="https://website-assets-fd.freshworks.com/attachments/cjia1br1s000we4fz7u6nxe37-vaughan-potter-2x.full.png 2x">

        <div id="autohorDetails">

          <h6>Vaughan Potter</h6>
          <div>Head of Customer Services</div>
          <div>Hamleys</div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="section bg-footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-3">
              <div class="">
                  <h6 class="footer-heading text-uppercase text-white">freshworks</h6>
                  <ul class="list-unstyled footer-link mt-4">
                      <li><a href="">Pages</a></li>
                      <li><a href="">Our Team</a></li>
                      <li><a href="">Feuchers</a></li>
                      <li><a href="">Pricing</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="">
                  <h6 class="footer-heading text-uppercase text-white">company</h6>
                  <ul class="list-unstyled footer-link mt-4">
                      <li><a href="">Monitoring Grader </a></li>
                      <li><a href="">Video Tutorial</a></li>
                      <li><a href="">Term &amp; Service</a></li>
                      <li><a href="">Zeeko API</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-2">
              <div class="">
                  <h6 class="footer-heading text-uppercase text-white">Help</h6>
                  <ul class="list-unstyled footer-link mt-4">
                      <li><a [routerLink]="['/sign']">Sign Up </a></li>
                      <li><a [routerLink]="['/login']">Login</a></li>
                      <li><a href="">Terms of Services</a></li>
                      <li><a href="">Privacy Policy</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="">
                  <h6 class="footer-heading text-uppercase text-white">Contact Us</h6>
                  <p class="contact-info mt-4">Contact us if need help withanything</p>
                  <p class="contact-info">+01 123-456-7890</p>
                  <div class="mt-5">
                      <ul class="list-inline">
                          <li class="list-inline-item"><a href="https://www.facebook.com/freshdesk/" target="_blank"><i class="fa facebook footer-social-icon fa-facebook"></i></a></li>
                          <li class="list-inline-item"><a href="https://twitter.com/freshdesk" target="_blank"><i class="fa twitter footer-social-icon fa-twitter"></i></a></li>
                          <li class="list-inline-item"><a href="https://www.youtube.com/freshdesk" target="_blank"><i class="fa youtube footer-social-icon fa-youtube"></i></a></li>
                          <li class="list-inline-item"><a href="https://www.linkedin.com/showcase/freshdesk/" target="_blank"><i class="fa linkedin footer-social-icon fa-linkedin"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="text-center mt-5">
      <p class="footer-alt mb-0 f-14">Copyright © Freshworks Inc. All Rights Reserved</p>
  </div>
</footer>